*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    font-family: 'Poppins', sans-serif;
}

.container {
    font-size: 2rem;
    max-width: 100%;
    max-height: 80vh;
    padding: 1rem;
    margin: 3rem auto;
    background-color: #eee;
    /* border: 2px solid red; */
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


input[type=text]{
    width: 50%;
    margin: 1rem auto;
    outline: none;
    min-height: 3rem;
    border: 2px solid rgba(255, 166, 0, 0.767);
    padding: 1rem 1rem;
    background-color: rgba(0, 0, 0, 0.007);
    border-radius: 0.85rem;
    color: rgb(235, 19, 19);
    font-size: 1.2rem;

}

input[type=text]:focus{
    background-color: #fFF;
    border: 2px solid orange;
    outline: none;
}

input[type=button]:hover {
    background: rgba(148, 148, 143, 0.548);
}

.btn {
    background: rgba(255, 166, 0, 0.767);
    padding: 1rem 2rem;
    font-size: 1.3rem;
    border-radius: 1rem;
    cursor: pointer;
    margin: 1rem auto;
    border: none;
    outline: none;
    transition: background 0.5s;
}


#age{
    display: block;
    /* border: 2px solid  greenyellow; */
    margin: 1.2rem;
    padding: 2rem;
    overflow: hidden;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5;
    word-spacing: 1rem;
    color: rgba(255, 166, 0, 0.767);
}
